

.BodyPart{
	width:80%;
	margin:0 auto auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	HEIGHT:600px;
	margin-top:80px;
	border-radius:20px;
	padding:center;
}
.BodyPart h1{
	width:50%;
	height:50px;
	float:left;
	padding-top:150px;
	padding-left:100px;
	font-family:poppins;
	font-size:50px;
}
.BodyPart a{
	text-decoration:none;
	border-radius:20px;
	border:1px solid blue;
	padding:5px;
}
.BodyPart a:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.emoji {
  width:20%;
  float: right;
  zoom:3;
  padding-top :50px;
  padding-right:50px;
}

.face {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 15px 30px 0;
  border-radius: 50%;
  background: #F2DD68;
}

.face:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -8px;
  left: -8px;
  border-radius: 50%;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.07);
}

.eye {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 32px;
  left: 16px;
  z-index: 1;
  border-radius: 50%;
  background: #995710;
}

.eye:last-child {
  left: auto;
  right: 16px;
}

.emoji:hover .eye {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes blink {
  10% {
    height: 11px;
    top: 32px;
  }
  30% {
    height: 1px;
    top: 37px;
  }
  50% {
    height: 11px;
    top: 32px;
  }
}

.mouth {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 70px;
  height: 34px;
  margin: 0 auto;
  border-radius: 0 0 70px 70px;
  overflow: hidden;
  background: #995710;
}

.mouth:before,
.mouth:after {
  content: '';
  position: absolute;
  display: block;
}

.mouth.teath:before {
  width: 100%;
  height: 10px;
  z-index: 2;
  background: #fffae6;
}

.mouth.tounge:after {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  right: 0;
  top: 15px;
  margin: 0 auto;
  border-radius: 50%;
  background: #d8aa2b;
}

.smile .mouth {
  width: 50px;
  height: 25px;
  background: transparent;
  border-radius: 0 0 50px 50px;
  border: 4px solid #995710;
  border-top: 0;
  -webkit-clip-path: inset(30% 0 0 0);
  clip-path: inset(30% 0 0 0);
}
.smile .mouth {
  width: 50px;
  height: 25px;
  background: transparent;
  border-radius: 0 0 50px 50px;
  border: 4px solid #995710;
  border-top: 0;
  -webkit-clip-path:inset(30% 0 0 0);
  clip-path:inset(30% 0 0 0);
}
@media only screen and (max-width:700px) {
.BodyPart h1{
	width:250px;
	height:50px;
	float:none;
	padding-top:20px;
	padding-left:20px;
	font-family:poppins;
	font-size:30px;
	
}
.emoji {
  width:auto%;
  float: none;
  zoom:1;
  padding-top :5px;
  padding-left:200px;
}
.BodyPart{
	width:80%;
	margin:0 auto auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	HEIGHT:300px;
	margin-top:80px;
	border-radius:20px;
	padding:center;
}
	
	
	
	
	
}