
*{
	margin:0px;
	padding:0px;
}

.topheader{
	height:23px;
	background-color:#D15099;
	font-size:15px;
	color:white;
	padding:8px;
}
	
.header{
	height:100px;
	font-size:22px;
}
.row{
	width:auto%;
}
.header img {
	height:50px;
	width:50px;	
	margin-left:10px;
	margin-top:20px;
}
.menubar{
	height:50px;
	background-color:lightgray;
	font-size:20px
}
	
	
.bodypart{
	height :auto;
	font-size:50px;
	overflow:hidden;
}


.left{
	float:left;
	font-family:Poppins;
}
.left a{
	text-decoration:none;
	color:white;
}
.right{
	float:right;
	font-family:Poppins;
	
}
.hpart1{
	width:4%;
	float:left;
	
}
.hpart2{
	width:19%;
	float:left;
	font-size:43px;
	color:#1589FF;
	font-family:Poppins;
	margin-left:10px;
	margin-top:15px;
}

.hpart3{
	width:10%;
	float:right;
	background-color:lightgreen;
	text-align:center;
	padding:8px;
	margin-right:20px;
	border-radius:10px;
	margin-top:20px;
}
.hpart3:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login{
	color:white;
	text-decoration:none;
	font-family:Poppins;
	font-weight:bold;
}
.hpart2:hover{
	color:#151B54;
	
}
.hpart3:hover {
	background-color:#ADF802;
	
	
}

.menubar ul{
	width:100%;
	list-style:none;
}

.menubar ul li{
	float:left;
	
	
}
.menubar ul li a{
	display:block;
	text-decoration:none;
	color:#2C3539;
	font-size:18px;
	padding:10px;
	font-weight:bold;
	font-family:Poppins;
	padding-right:70px;
	padding-left:70px;
	
}
.menubar ul li a:hover{
	background-color:#E55451;
	color:yellow;
}

.sectitle
{
	text-align:center;
	color:#FA2A55;
	font-family:Poppins;
	font-size:35px;
	
	
}
.course{
	width:80%;
	margin:0 auto auto;
	
}
.cdiv{
	width:30%;
	height:330px;
	border-radius:10px;
	float:left;
	margin:35px 20px;
}
.cdiv:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cdiv img {
	width:100%;
	border-radius:10px;
}
.cdiv a{
	text-decoration:none;
	font-size:25px;
	font-family:Poppins;
	margin-left: 55px;
	
}
.cdiv a:hover{
	color:#967BB6;
}

.sucess img{
	width:20%;
	height:200px;
	border-radius:10px;
	margin-right:30px;
	
}
.sucess img:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about{
	width:80%;
	font-family:poppins;
	margin:0 auto auto;
	text-align:justify;
}

.footer{
	height:400px;
	background-color:#F2F4F4 ;
	width:auto%;
	padding:50px;
}

.f1{
   width:20%;
   float:left;
   margin-right:100px;
   
}

.f2{
	width:30%;
	float: right;
	
	
}
.sectitle1{
	color:#1B4F72;
	font-family:Poppins;
	font-size:25px;
	
}
.sectitle2{
	color:#283747;
	font-family:Poppins;
	font-size:17px;	
}
.sectitle2 textarea{
	padding:5px;
	border: 1px solid white;
	
}
.sectitle3{
	font-family:Poppins;
	width:375px;
	border-radius:10px;
	padding:5px;
	border: 1px solid white;
	
}
.sectitle4{
	font-family:Poppins;
	width:30%;
	border-radius:10px;
	border: 1px #F2F4F4;
	background-color:#3498DB;
	text-decoration:none;
	padding-left:150px;
	padding-right:150px;
}

.sectitle5{
	border-radius:10px;
	font-family:poppins; 
	rows:10; 
	cols:50;
	padding:4px;
	border: 1px solid white;
	
}

.bodypart1{
	width:70%;
	height:400px;
	border-radius:10px;
	margin:0 auto auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	
}
.bodypart1 div{
	float:right;
	width:50%;
	height:350px;
	border-radius:10px;
	margin-right:10px;
	margin-top:20px;
	background-color:#EAEDED ;
	font-family:poppins;
   
}
.InputTy{
	width:50%;
	height:150px;
	margin-left:138px;
	margin-top:70px;	
	
}
.input{
	border-radius:3px;
	font-family:poppins;
	margin-left:10px;
	width:230px;
	border-radius:10px;
	padding-left:3px;
	border:5px solid white;
	
}
.WELCOME{
	float:left;
	width:40%;
	height:100px;
	margin-left:45px;
	margin-top:30px;
	text-align:center;
	padding-top:105px;
	font-size:45px;
	color:#34495E;
	font-family:Poppins;
	
}

.submit{
	width:50px;
	border:1px solid black;
	
	
}
.bodypart h6{
	text-align:center;
	
}
.submit3{
	border-radius:3px;
	font-family:poppins;
	margin-left:150px;
	width:230px;
	border-radius:10px;
	padding-left:3px;
	border:1px #EAEDED;
	background-color:white;
	HEIGHT:30PX;
}
.submit3:hover{
	background-color:#5DADE2;	
}
.BodyPart{
	width:80%;
	margin:0 auto auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	HEIGHT:600px;
	margin-top:80px;
	border-radius:20px;
	padding:center;
}
.Enrole{
	font-size:30px;
	border:1px solid grey;
	width:50%;
	font-family:poppins;
	margin-left:90px;
	border-radius:10px;
}
.copyright{
	text-align:center;
	font-family:poppins;
	background-color:#F2F4F4;
	
}
.bodypartOfProgram_Course
{
	width:80%;
	height:auto;
	margin:0 auto auto;
	
}
.Program_Course
{
	text-align:center;
	color:#FA2A55;
	font-family:Poppins;
	font-size:35px;
}
.image{
	width:80%;
	height:500px;
	margin-left:110px;
	border-radius:20px;
}
.para{
	width:80%;
	margin-left:110px;
	text-align:justify;
	font-family:poppins;
	font-size:20px;
}



